.idea
/venv
.terraform
/packages
source/.chalice/deployments/
terraform/sandbox/build-tfplan
terraform/sandbox/deployment.zip
terraform/prod/build-tfplan
terraform/prod/deployment.zip
*.pyc
source/__pycache__/app.cpython-38.pyc